# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))


############################
###  Back-End Variables  ###
############################

DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# ------------------------------------

#############################
###  Front-End Variables  ###
#############################

VITE_BASENAME=/


### FOR GITHUB CODESPACES
#VITE_BACKEND_URL=[GitHub backend URL]

### FOR LOCAL DEVELOPMENT
#VITE_BACKEND_URL=http://localhost:3001

# Option 2: WSL IP (get with `hostname -I` in WSL)
#VITE_BACKEND_URL=http://172.x.x.x:3001


# ------------------------------------

########################
###  JWT Secret Key  ###
########################

# JWT_SECRET_KEY="???"
               
# ------------------------------------

################################
###  Cloudinary credentials  ###
################################

# CLOUDINARY_CLOUD_NAME="???"
# CLOUDINARY_API_KEY="???"
# CLOUDINARY_API_SECRET="???"